<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="import" href="../head_js.html">
</head>

<body>
<div class="x-body layui-anim layui-anim-up all">
    <form class="layui-form">
        <input type="hidden" name="id" v-model="id"/>
        <div class="layui-form-item">
            <label for="name" class="layui-form-label">
                <span class="x-red">*</span>菜单名称
            </label>
            <div class="layui-input-inline">
                <input type="text" id="name" name="name" required=""
                       autocomplete="off" class="layui-input" v-model="name">
            </div>
            <div class="layui-form-mid layui-word-aux">
                <span class="x-red">{{name_check}}</span>
            </div>
        </div>
        <div class="layui-form-item">
            <label for="icon" class="layui-form-label">
                <span class="x-red">*</span>菜单图标
            </label>
            <div class="layui-input-inline">
                <input type="text" id="icon" name="icon" required=""
                       autocomplete="off" class="layui-input" v-model="icon">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="url" class="layui-form-label">
                <span class="x-red">*</span>菜单链接
            </label>
            <div class="layui-input-inline">
                <input type="text" id="url" name="url" required=""
                       autocomplete="off" class="layui-input" v-model="url">
            </div>
            <div class="layui-form-mid layui-word-aux">
                示例：view/system/menu_list.html
            </div>
        </div>
        <div class="layui-form-item">
            <label for="up_id" class="layui-form-label">
                <span class="x-red">*</span>上级菜单
            </label>
            <div class="layui-input-inline">
                <select id="up_id" ref="up_id" class="valid">
                    <option value="0">顶级菜单</option>
                    <option v-bind:value="item.id" v-for="item in menu" v-bind:selected="item.id == up_id">
                        ---{{item.name}}
                    </option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label for="L_repass" class="layui-form-label">
            </label>
            <button class="layui-btn" lay-filter="add" @click.prevent="editMenu">
                增加
            </button>
        </div>
    </form>
</div>
</body>
<script src="../../controller/system/menu_edit.js"></script>
</html>