<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <!--<link rel="import" href="../../head_js.html">-->
    <meta content="webkit|ie-comp|ie-stand" name="renderer">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"
          name="viewport"/>
    <meta content="no-siteapp" http-equiv="Cache-Control"/>

    <link href="../../favicon.ico" rel="shortcut icon" type="image/x-icon"/>
    <link href="../../static/css/font.css" rel="stylesheet">
    <link href="../../static/css/xadmin.css" rel="stylesheet">
    <script charset="utf-8" src="../../static/lib/layui/layui.js" type="text/javascript"></script>
    <script src="../../static/js/xadmin.js" type="text/javascript"></script>

    <script src="../../static/js/axios.js" type="text/javascript"></script>
    <script src="../../conf/axiosConfig.js" type="text/javascript"></script>
    <script src="../../static/js/vue.js" type="text/javascript"></script>
</head>

<body>
<div class="layui-fluid all">
    <div class="layui-row">
        <form class="layui-form">
            <div class="layui-form-item">
                <label class="layui-form-label" for="name">
                    <span class="x-red">*</span>菜单名称
                </label>
                <div class="layui-input-inline">
                    <input autocomplete="off" class="layui-input" id="name" name="name"
                           required="" type="text" v-model="name">
                </div>
                <div class="layui-form-mid layui-word-aux">
                    <span class="x-red">{{name_check}}</span>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label" for="icon">
                    <span class="x-red">*</span>菜单图标
                </label>
                <div class="layui-input-inline">
                    <input autocomplete="off" class="layui-input" id="icon" name="icon"
                           required="" type="text" v-model="icon">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label" for="url">
                    <span class="x-red">*</span>菜单链接
                </label>
                <div class="layui-input-inline">
                    <input autocomplete="off" class="layui-input" id="url" name="url"
                           required="" type="text" v-model="url">
                </div>
                <div class="layui-form-mid layui-word-aux">
                    示例：view/system/menu_list.html
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label" for="up_id">
                    <span class="x-red">*</span>上级菜单
                </label>
                <div class="layui-input-inline">
                    <select class="valid" id="up_id" ref="up_id">
                        <option value="0">顶级菜单</option>
                        <option v-bind:value="item.id" v-for="item in menu">---{{item.name}}</option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label" for="L_repass">
                </label>
                <button @click.prevent="setMenu" class="layui-btn" lay-filter="add" v-bind:disabled="dis">
                    增加
                </button>
            </div>
        </form>
    </div>
</div>
</body>
<script src="../../controller/system/menu_add.js"></script>
</html>
