<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="import" href="../head_js.html">
</head>

<body>
<div class="x-nav">
      <span class="layui-breadcrumb">
        <a href="">首页</a>
        <a href="">系统管理</a>
        <a>
          <cite>更新服务器数据</cite></a>
      </span>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"
       href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:30px">ဂ</i></a>
</div>
<div class="x-body all">
    <xblock class="layui-row layui-col-md12 x-so">
        <button id="search" class="layui-btn" @click.prevent="getPull"><i class="layui-icon"></i>查询</button>
        <input type="text" id="pwd" name="pwd" required="" placeholder="请输入密码"
               autocomplete="off" class="layui-input" v-model="pwd">
    </xblock>
    <form class="layui-form layui-form-pane" action="">
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">更新内容</label>
            <div class="layui-input-block">
                <textarea placeholder="请输入内容" class="layui-textarea" style="height: 500px">{{content}}</textarea>
            </div>
        </div>
    </form>
</div>
</body>
<script src="../../controller/system/pull.js"></script>
</html>