<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>增加用户</title>
    <link rel="import" href="../head_js.html">
</head>

<body>
<div class="layui-fluid all">
    <div class="layui-row">
        <form class="layui-form">
            <div class="layui-form-item">
                <label class="layui-form-label" for="tel">
                    <span class="x-red">*</span>用户名
                </label>
                <div class="layui-input-inline">
                    <input autocomplete="off" class="layui-input" id="name" name="name"
                           required="" type="text" v-model="name">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label" for="pwd">
                    <span class="x-red">*</span>密码
                </label>
                <div class="layui-input-inline">
                    <input autocomplete="off" class="layui-input" id="pwd" name="pwd"
                           required="" type="password" v-model="pwd">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label" for="L_repass">
                    <span class="x-red">*</span>确认密码
                </label>
                <div class="layui-input-inline">
                    <input autocomplete="off" class="layui-input" id="L_repass" name="repass"
                           required="" type="password" v-model="repwd">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label" for="L_remark">
                    备注
                </label>
                <div class="layui-input-inline">
                    <input autocomplete="off" class="layui-input" id="L_remark" name="remark"
                           required="" type="text" v-model="remark">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label" for="L_repass">
                </label>
                <button @click.prevent="setUser" class="layui-btn" lay-filter="add">
                    增加
                </button>
            </div>
        </form>
    </div>
</div>
</body>
<script src="../../controller/system/user_add.js"></script>
</html>