<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>修改用户</title>
    <link rel="import" href="../head_js.html">
</head>

<body>
<div class="x-body layui-anim layui-anim-up all">
    <form class="layui-form">
        <input type="text" id="uid" name="uid" hidden="hidden" v-model="uid">
        <div class="layui-form-item">
            <label for="status" class="layui-form-label">
                <span class="x-red">*</span>状态
            </label>
            <div class="layui-input-inline">
                <select id="status" name="status" class="valid">
                    <option value="20" v-bind:selected="status == 20">禁用</option>
                    <option value="10" v-bind:selected="status == 10">启用</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label for="L_remark" class="layui-form-label">
                备注
            </label>
            <div class="layui-input-inline">
                <input type="text" id="L_remark" name="remark" required=""
                       autocomplete="off" class="layui-input" v-model="remark">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="L_repass" class="layui-form-label">
            </label>
            <button class="layui-btn" lay-filter="add" @click.prevent="editUser">
                修改
            </button>
        </div>
    </form>
</div>
</body>
<script src="../../controller/system/user_edit.js"></script>
</html>