<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>修改用户</title>
    <link rel="import" href="../head_js.html">
</head>

<body>
<div class="layui-fluid all">
    <div class="layui-row">
        <form class="layui-form">
            <input hidden="hidden" id="uid" name="uid" type="text" v-model="uid">
            <div class="layui-form-item">
                <label class="layui-form-label" for="status">
                    <span class="x-red">*</span>状态
                </label>
                <div class="layui-input-inline">
                    <select class="valid" id="status" name="status">
                        <option v-bind:selected="status == 20" value="20">禁用</option>
                        <option v-bind:selected="status == 10" value="10">启用</option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label" for="L_remark">
                    备注
                </label>
                <div class="layui-input-inline">
                    <input autocomplete="off" class="layui-input" id="L_remark" name="remark"
                           required="" type="text" v-model="remark">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label" for="L_repass">
                </label>
                <button @click.prevent="editUser" class="layui-btn" lay-filter="add">
                    修改
                </button>
            </div>
        </form>
    </div>
</div>
</body>
<script src="../../controller/system/user_edit.js"></script>
</html>