<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>用户列表</title>
    <link rel="import" href="../head_js.html">
</head>

<body>
<div class="x-nav">
      <span class="layui-breadcrumb">
        <a href="">首页</a>
        <a href="">系统管理</a>
        <a>
          <cite>系统用户设置</cite></a>
      </span>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"
       href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i></a>
</div>
<div class="layui-fluid all">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body ">
                    <button class="layui-btn layui-btn-danger" onclick="x_admin_show('添加用户','user_add.html')"><i
                            class="layui-icon">&#xe608;</i>添加
                    </button>
                    <button @click.prevent="userList" class="layui-btn" id="search"><i class="layui-icon"></i>查询
                    </button>
                </div>
                <div class="layui-card-body ">
                    <table class="layui-table layui-form">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>用户名</th>
                            <th>密码</th>
                            <th>创建时间</th>
                            <th>状态</th>
                            <th>备注</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="item in privmessage">
                            <td>{{item.id}}</td>
                            <td>{{item.name}}</td>
                            <td>{{item.pwd}}</td>
                            <td>{{item.crt_dt}}</td>
                            <td>
                                <span class="layui-btn layui-btn-danger layui-btn-mini" v-if="item.status == 20">{{item.status | statusFilter}}</span>
                                <span class="layui-btn layui-btn-normal layui-btn-mini" v-else-if="item.status == 10">{{item.status | statusFilter}}</span>
                            </td>
                            <td>{{item.remark}}</td>
                            <td class="td-manage">
                                <button @click.prevent="getUser(item.id)" class="layui-btn layui-btn-sm"><i
                                        class="layui-icon">&#xe642;</i>编辑
                                </button>
                                <button @click.prevent="delUser(item.id, item.name)" class="layui-btn layui-btn-sm"><i
                                        class="layui-icon">&#xe640;</i>删除
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="layui-card-body " id="list_page"></div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="../../controller/system/user_list.js"></script>
</html>