<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>列表</title>
    <link href="../head_js.html" rel="import">
</head>

<body>
<div class="x-nav">
      <span class="layui-breadcrumb">
        <a href="">首页</a>
        <a href="">监控中心</a>
        <a>
          <cite>数据连接池管理</cite></a>
      </span>
    <a class="layui-btn layui-btn-small" href="javascript:location.replace(location.href);"
       style="line-height:1.6em;margin-top:3px;float:right" title="刷新">
        <i class="layui-icon" style="line-height:30px">ဂ</i></a>
</div>
<div class="x-body all">
    <div class="layui-row">
        <form class="layui-form layui-col-md12 x-so">
            <input autocomplete="on" class="layui-input" name="app_id" placeholder="app ID" type="text"
                   v-model="app_id">
            <input autocomplete="on" class="layui-input" name="tel" placeholder="手机号" type="text" v-model="tel">
            <input autocomplete="on" class="layui-input" name="uname" placeholder="用户昵称" type="text" v-model="uname">
            <button @click.prevent="getUserList" class="layui-btn" id="search">
                <i class="layui-icon">&#xe615;</i></button>
            <button @click.prevent="cleanSearch" class="layui-btn"><i class="layui-icon"></i>重置</button>
        </form>
    </div>
    <table class="layui-table">
        <thead>
        <tr>
            <th>uid</th>
            <th>app ID</th>
            <th>手机号</th>
            <th>用户昵称</th>
            <th>状态</th>
            <th>VIP</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="item in privmessage">
            <td>{{item.uid}}</td>
            <td>{{item.redland_id}}</td>
            <td>{{item.tel}}</td>
            <td>{{item.uname}}</td>
            <td>
                <span @click.prevent="selectStatus(item.uid, 1)" class="layui-btn layui-btn-danger layui-btn-mini"
                      v-if="item.status == 0">{{item.status | statusFilter}}</span>
                <span @click.prevent="selectStatus(item.uid, 0)" class="layui-btn layui-btn-normal layui-btn-mini"
                      v-else-if="item.status == 1">{{item.status | statusFilter}}</span>
            </td>

            <td>
                <span class="layui-btn layui-btn-danger layui-btn-mini"
                      v-if="item.vip == 0">{{item.vip | vipFilter}}</span>
                <span class="layui-btn layui-btn-normal layui-btn-mini" v-else-if="item.vip == 1">{{item.vip | vipFilter}}</span>
            </td>
            <td class="td-manage">
                <button @click.prevent="getUser(item)" class="layui-btn layui-btn-sm"><i
                        class="layui-icon">&#xe642;</i>查看详情
                </button>
                <span class="layui-btn layui-btn-disabled layui-btn-mini" v-if="item.login_flag == 0">未上线</span>
                <span @click.prevent="setloginFlag(item.uid)" class="layui-btn layui-btn-normal layui-btn-mini"
                      v-else-if="item.login_flag == 1">已登录</span>
            </td>
        </tr>
        </tbody>
    </table>
    <div id="list_page"></div>
</div>
</body>
<script src="../../controller/user/user_list.js"></script>
</html>