<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>mongo日志</title>
    <!--<link rel="import" href="../../head_js.html">-->
    <meta content="webkit|ie-comp|ie-stand" name="renderer">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"
          name="viewport"/>
    <meta content="no-siteapp" http-equiv="Cache-Control"/>

    <link href="../../favicon.ico" rel="shortcut icon" type="image/x-icon"/>
    <link href="../../static/css/font.css" rel="stylesheet">
    <link href="../../static/css/xadmin.css" rel="stylesheet">
    <script charset="utf-8" src="../../static/lib/layui/layui.js" type="text/javascript"></script>
    <script src="../../static/js/xadmin.js" type="text/javascript"></script>

    <script src="../../static/js/axios.js" type="text/javascript"></script>
    <script src="../../conf/axiosConfig.js" type="text/javascript"></script>
    <script src="../../static/js/vue.js" type="text/javascript"></script>
</head>

<body>
<div class="x-nav">
      <span class="layui-breadcrumb">
        <a href="">首页</a>
        <a href="">日志中心</a>
        <a>
          <cite>mongo日志</cite></a>
      </span>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"
       href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i></a>
</div>
<div class="layui-fluid all">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body">
                    <form class="layui-form layui-col-space5">
                        <div class="layui-input-inline layui-show-xs-block">
                            <input class="layui-input" id="start_time" name="start" placeholder="开始时间"></div>
                        <div class="layui-input-inline layui-show-xs-block">
                            <input class="layui-input" id="end_time" name="end" placeholder="结束时间"></div>
                        <div class="layui-input-inline layui-show-xs-block">
                            <select id="log_level" name="contrller">
                                <option value="">日志等级</option>
                                <option value="DEBUG">DEBUG</option>
                                <option value="INFO">INFO</option>
                                <option value="NOTICE">NOTICE</option>
                                <option value="WARNING">WARNING</option>
                                <option value="ERROR">ERROR</option>
                                <option value="CRITICA">CRITICA</option>
                                <option value="ALERT">ALERT</option>
                                <option value="EMERGENCY">EMERGENCY</option>
                            </select>
                        </div>
                        <div class="layui-input-inline layui-show-xs-block">
                            <input class="layui-input" id="channel" name="channel" placeholder="channel"></div>
                    </form>
                </div>
                <div class="layui-card-header">
                    <button @click.prevent="mongoList" class="layui-btn" id="search"><i class="layui-icon"></i>查询
                    </button>
                    <button @click.prevent="cleanSearch" class="layui-btn"><i class="layui-icon"></i>清空</button>
                    <!--<button type="reset" class="layui-btn"><i class="layui-icon"></i>清空</button>-->
                </div>
                <div class="layui-card-body ">
                    <table class="layui-table layui-form">
                        <thead>
                        <tr>
                            <th width="100px">ID</th>
                            <th width="170px">提示信息</th>
                            <th>数据</th>
                            <th width="60px">日志等级</th>
                            <th width="60px">channel</th>
                            <th width="75px">记录时间</th>
                            <th width="310px">使用内存</th>
                            <th width="150px">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="item in privmessage">
                            <td>{{item._id.$oid}}</td>
                            <td>{{item.message}}</td>
                            <td @click.prevent="getMongo(item)" style="cursor: pointer">{{item.context}}</td>
                            <td>{{item.level_name}}</td>
                            <td>{{item.channel}}</td>
                            <td>{{item.datetime.$date.$numberLong | timestampFilter}}</td>
                            <td>{{item.extra}}</td>
                            <td class="td-manage">
                                <button @click.prevent="getMongo(item)" class="layui-btn layui-btn-sm"><i
                                        class="layui-icon">&#xe642;</i>查看
                                </button>
                                <button @click.prevent="delMongo(item._id.$oid)" class="layui-btn layui-btn-sm"><i
                                        class="layui-icon">&#xe640;</i>删除
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="layui-card-body " id="list_page"></div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="../../controller/log/mongo_list.js"></script>
</html>
