<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="import" href="../head_js.html">
    <link href="../../static/css/jquery.jsonview.css" rel="stylesheet" type="text/css"/>
</head>

<body>
<div class="layui-fluid all">
    <table class="layui-table layui-form" lay-size="lg">
        <colgroup>
            <col width="50">
            <col width="300">
            <col>
        </colgroup>
        <tbody>
        <tr>
            <td>ID</td>
            <td>{{info._id.$oid}}</td>
        </tr>
        <tr>
            <td>提示信息</td>
            <td>{{info.message}}</td>
        </tr>
        <tr>
            <td>日志内容</td>
            <td>
                <div id="json">{{info.context}}</div>
            </td>
        </tr>
        <tr>
            <td>日志等级</td>
            <td>{{info.level_name}}</td>
        </tr>
        <tr>
            <td>channel</td>
            <td>{{info.channel}}</td>
        </tr>
        <tr>
            <td>记录时间</td>
            <td>{{info.datetime.$date.$numberLong | timestampFilter}}</td>
        </tr>
        <tr>
            <td>使用内存</td>
            <td>{{info.extra}}</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
<script src="../../static/js/jquery-3.2.1.min.js" type="text/javascript"></script>
<script src="../../static/js/jquery.jsonview.js"></script>
<script src="../../controller/log/mongo_info.js"></script>
<script>
    $(function () {
        let json = $("#json");
        json.JSONView(json.text());
    });
</script>
</html>