<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>登录日志</title>
    <link rel="import" href="../head_js.html">
</head>

<body>
<div class="x-nav">
      <span class="layui-breadcrumb">
        <a href="">首页</a>
        <a href="">日志中心</a>
        <a>
          <cite>登录日志</cite></a>
      </span>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"
       href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:30px">ဂ</i></a>
</div>
<div class="x-body all">
    <div class="layui-row">
        <form class="layui-form layui-col-md12 x-so">
            <input class="layui-input" placeholder="登录时间" name="start" id="login_time">
            <input type="text" name="uname" placeholder="用户名" autocomplete="on" class="layui-input" v-model="uname">
            <button id="search" class="layui-btn" @click.prevent="getUserList">
                <i class="layui-icon">&#xe615;</i></button>
            <button @click.prevent="cleanSearch" class="layui-btn"><i class="layui-icon"></i>重置</button>
        </form>
    </div>
    <table class="layui-table">
        <thead>
        <tr>
            <th>
                <div class="layui-unselect header layui-form-checkbox" lay-skin="primary"><i
                        class="layui-icon">&#xe605;</i></div>
            </th>
            <th>ID</th>
            <th>用户名</th>
            <th>登录时间</th>
            <th>退出时间</th>
            <th>登录IP</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="item in privmessage">
            <td>
                <div class="layui-unselect layui-form-checkbox" lay-skin="primary" data-id='2'><i class="layui-icon">&#xe605;</i>
                </div>
            </td>
            <td>{{item.id}}</td>
            <td>{{item.user_name}}</td>
            <td>{{item.login_dt}}</td>
            <td>{{item.logout_dt}}</td>
            <td>{{item.login_ip}}</td>
        </tr>
        </tbody>
    </table>
    <div id="list_page"></div>
</div>
</body>
<script src="../../controller/log/user_list.js"></script>
</html>